@import url(fields/index.css);

form {
    margin-top: 2.5rem;
}

fieldset {
    border: none;
    display: grid;
    gap: 1rem;
}

fieldset + fieldset {
    margin-top: 3rem;
}

.legend {
    font: var(--heading-sm);
    margin-bottom: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}