* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Cores */
    /* Brand */
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    /* Cores */
    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;

    /* Feedback */
    --danger: #FF5959;

    /* Input */
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    /* Shape */
    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    /* Text */
    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;

    /* Tipografia */
    --logo-font-family: "Leckerli One", cursive;
    --heading-font-family: 'Baloo 2', sans-serif;
    --body-font-family: 'Open Sans', sans-serif;

    --logo: 400 2.5rem/1 var(--logo-font-family);
    --heading-md: 600 1.75rem/1 var(--heading-font-family);
    --heading-sm: 600 1.125rem/1 var(--heading-font-family);
    --body-md: 400 1rem/1 var(--body-font-family);
    --body: 300 1rem/1 var(--body-font-family)
    --body-sm: 400 .875rem/1 var(--body-font-family);
    --body-xs: 400 .75rem/1 var(--body-font-family);
}

body {
    overflow: hidden;

    background-color: var(--shape-background);
    font: var(--body-md);
    color: var(--text-body);
}

img {
    max-width: 100%;
    height: auto;
}

.legend {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.flex {
    display: flex;
    gap: .75rem;
    align-items: flex-start;
    margin-top: .25rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

/* Utility */

.blue-bg {
    background-color: var(--brand-light);
}

.navy-bg {
    background-color: var(--navy);
}

.purple-bg {
    background-color: var(--purple);
}

.fuschia-bg {
    background-color: var(--fuschia);
}

.pink-bg {
    background-color: var(--pink);
}

.red-bg {
    background-color: var(--danger);
}

.orange-bg {
    background-color: var(--orange);
}

.yellow-bg {
    background-color: var(--yellow);
}

.lime-bg {
    background-color: var(--lime);
}

.green-bg {
    background-color: var(--green);
}

.cyan-bg {
    background-color: var(--cyan);
}